/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=PT+Sans&display=swap');

:root {
  --blue-bg-color: #2196F3;
  --light-blue-bg-color: #F1FCFF;
  --white-color: #fff;
  --grey-color: #bdc1c6;
  --light-grey-color: #f1f5f8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 0;
}
.app {
  background: linear-gradient(to right, var(--blue-bg-color), var(--light-blue-bg-color));
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
}
.app-left-column {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}
.app-right-column {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-right-column_content{
  height: 70%;
  max-width: 400px;
  min-width: 250px;
  margin: 20px 20px;
}
.app-right-column_btn {
  max-width: 400px;
  min-width: 250px;
  display: flex;
  justify-content: flex-end;
}
h2 {
  color: var(--white-color);
}
.chat {
  height: 100%;
  max-width: 400px;
  min-width: 250px;
  background: var(--white-color);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 5px 5px var(--grey-color);
  overflow: hidden;
}
.chat-header{
  max-height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-color);
}
.chat-header-text {
  flex-grow: 1;
  text-align: start;
  padding: 0 10px;
  color: var(--grey-color)
}
.chat-header-image{
  cursor: pointer;
  padding-right: 10px;
}
.refresh:hover {
  color: green;
}
.close:hover {
  color: #e61111;
}
.chat-main{
  height: 400px;
  flex-grow: 1;
  scroll-behavior: auto;
  overflow: scroll;
}

.chat-main-dialog_text {
  background: var(--light-grey-color);
  border-radius: 5px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.chat-main-dialog {
  display: flex;
  padding: 20px;
}
.chat-footer{
  height: 10%;
  display: flex;
  border-top: 2px solid var(--grey-color);
}
.btn {
  border: none;
  background-color: inherit;
  margin: 4px 4px;
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: var(--grey-color);
  color: var(--light-blue-bg-color);
  border: 1px solid var( --grey-color);
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-chat {
  cursor: pointer;
  padding: 10px 10px;
  font-size: 14px;
  background: var(--blue-bg-color);
  color: var(--white-color);
  border: 1px solid var( --blue-bg-color);
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-chat:hover {
  background: #1184e2;
}
.input-text {
  flex-grow: 1;
  border: 1px solid white;
  margin-left: 10px;
}
.input-text:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.avatar {
  height: 40px;
  width: 40px;
  margin: 0 10px;
}